nav { 
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 25px;
    left: 20px;
}

a:link,
a:visited { 
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 25px;
}

a:hover { 
    background-color: lightgray;
    color: white;
}